@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}


<div class="text-center">
	<h1 class="">Welcome to Your Profile</h1>
	<p>Here you can view and edit your Personal information</p>
</div>
<div class="text-center">
	<h3>Student Information</h3>
</div>
<hr />
<div>
	<table class="table table-active table-hover">
		<tr>
			<td>
				<h5>Student Name: abdelhameed</h5>
			</td>
			<td>
				<h5>Student ID: 10</h5>
			</td>
		</tr>
		<tr>
			<td>
				<h5>Student Email: myEmail</h5>
			</td>
			<td>
				<h5>Student Phone: 01100114424</h5>
			</td>
		</tr>
		<tr>
			<td>
				<h5>Student Address: ezbetElshal</h5>
			</td>
			<td>
				<h5>Student Birthdate: 11/4/2001</h5>
			</td>
		</tr>
	</table>
</div>

