<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Attendance System</title>
    <link rel="shortcut icon" href="~/assets/immigration-colord.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Examination_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div style="background-color: fcfcfc;" class="container-fluid d-flex flex-column min-vh-100" id="mainContainer">
        <!-- Left Sidebar Start -->
        <div class="row flex-grow-1 mt-3 mb-3 justify-content-evenly">
            <div style="background-color: #9D282F;" class="col-2 rounded-4 d-flex flex-column" id="leftSidebar">
                <div class="row mt-4 mb-4">
                    <div class="container-fluid col-6 p-2 bg-black bg-opacity-25 rounded-5" id="leftSidebarPicture">
                        <img src="https://cdn-icons-png.flaticon.com/512/2940/2940653.png" class="col-12">
                    </div>
                </div>
                <div class="row h-100 ps-2">
                    <div class="col d-flex flex-column">
                        <div class="row mt-4 mb-2">
                            <div class="container-fluid col" id="leftSidebarLinks">
                                <i class="fa-solid fa-chalkboard-user fs-5 m-2" style="color: #ffffff;"></i>
                                <a asp-action="Details" asp-controller="Student" class="text-white text-decoration-none fw-bold fs-5">Profile</a>
                            </div>
                        </div>

                        <div class="row mt-2 mb-2">
                            <div class="container-fluid col" id="leftSidebarLinks">
                                <i class="fa-solid fa-calendar fs-5 m-2" style="color: #ffffff;"></i>
                                <a asp-action="Schedule" asp-controller="Student" class="text-white text-decoration-none fw-bold fs-5">Schedule</a>
                            </div>
                        </div>  


                        <div class="row mt-2 mb-2">
                            <div class="container-fluid col" id="leftSidebarLinks">
                                <i class="fa-solid fa-calendar-check fs-5 m-2" style="color: #ffffff;"></i>
                                <a asp-action="Attendance" asp-controller="Student" class="text-white text-decoration-none fw-bold fs-5">Attendances</a>
                            </div>
                        </div>


                        <div class="row mt-2 mb-2">
                            <div class="container-fluid col" id="leftSidebarLinks">
                                <i class="fa-solid fa-user-shield fs-5 m-2" style="color: #ffffff;"></i>
                                <a asp-action="Index" asp-controller="Student" class="text-white text-decoration-none fw-bold fs-5">Permissions</a>
                            </div>
                        </div>




                        

                        <div class="row mt-2 mb-2">
                            <div class="container-fluid col" id="leftSidebarLinks">
                                <i class="fa-solid fa-graduation-cap fs-5 m-2" style="color: #ffffff;"></i>
                                <a asp-action="GetDegree" asp-controller="Student" class="text-white text-decoration-none fw-bold fs-5">Degree</a>
                            </div>
                        </div>




                        <div class="row mt-4 mb-4 mt-auto">
                            <div class="container-fluid col text-center" id="leftSidebarLinks">
                                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                                <a asp-action="Logout" asp-controller="Account" class="text-white text-decoration-none fw-bold fs-5">Signout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left Sidebar End -->
            <!-- Right Main Container Start -->
            <div class="col-9 d-flex flex-column">
                <div class="row h-25 rounded-4 p-3 ps-5" style="background-color: rgb(157, 40, 47);" id="leftSidebar">
                    <div class="col-9 d-flex flex-column justify-content-evenly h-100">
                        <p class="text-white fs-5" id="dateTime">Current Date and time</p>
                        <div class="container">
                            <p class="text-white fs-2 fw-bold m-0">Welcome back, @User.Identity.Name </p>
                            <p class="text-white fs-6">Always stay updated in your student portal</p>
                        </div>
                    </div>
                    <div class="col-3 h-100 d-flex justify-content-end">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="w-75">
                    </div>
                </div>
                <div style="background-color: rgba(0, 0, 0, 0.1);" class="row flex-grow-1 mt-4 rounded-4 p-4 align-content-start"
                     id="mainContent">
                    @RenderBody()
                </div>
            </div>
            <!-- Right Main Container End -->
        </div>
    </div>
    @RenderSection("Scripts", required: false)

    <script>
        function updateDateTime() {
            let date = new Date();
            document.getElementById("dateTime").innerText = date.toLocaleString();
        }

        window.onload = function () {
            updateDateTime();

            setInterval(updateDateTime, 1000);
        }
    </script>

</body>
</html>